.home {
  .me {
    background-color: brown;

    &--content {
      text-align: center;
      color: #e2e2e2;
      font-size: 1.2rem;

      h1 {
        font-size: 4rem;
        line-height: 1;
        margin-bottom: 0;
        display: inline;

        span {
          font-size: 8rem;
        }
      }
      h3 {
        font-size: 1.6rem;
        font-variant: small-caps;
        margin-bottom: 0;
      }
    }
  }
}
